@model BibliotecaLog.Models.AuthorViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Excluir</h1>

<h3>Deseja mesmo excluir o registro abaixo?</h3>
<div>
    <h4 class="text-secondary text-decoration-underline">@Html.DisplayFor(model => model.Name)</h4>
    <div>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
    <hr />
<h3>Livros deste Autor</h3>
<table id="table-livros" class=" table table-dark table-striped table-hover">
    <thead>
        <tr>
            <th>
                Nome do Livro
            </th>
            <th class="text-center">
                Está emprestado?
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.AuthorBooks != null)
            foreach (var item in Model.AuthorBooks)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @if (item.IsBorrowed)
                        {
                            <div class="text-center">
                                <i class="fas fa-thumbs-up"></i>
                            </div>
                        }
                        else
                        {
                            <div class="text-center">
                                <i class="fas fa-thumbs-down"></i>
                            </div>
                        }
                    </td>
                    <td></td>
                </tr>
            }
    </tbody>
    </table>

