@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model BibliotecaLog.Models.BookLoan

@{
    ViewData["Title"] = "Edit";
}

<h1>Pegar livro emprestado</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BookId" class="control-label">Nome do livro</label>
                <select asp-for="BookId" class="form-control" asp-items="ViewBag.AuthorId">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="@Model.StudentEmail" class="control-label">E-mail:</label>
                <input asp-for="StudentEmail" class="form-control"/>
                <span asp-validation-for="StudentEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BorrowStart" class="control-label">Início do Empréstimo</label>
                <input asp-for="BorrowStart" class="form-control" />
                <span asp-validation-for="BorrowStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BorrowEnd" class="control-label">Fim do Empréstimo</label>
                <input asp-for="BorrowEnd" class="form-control" />
                <span asp-validation-for="BorrowEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-outline-secondary mt-2 pt-1" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para empréstimos</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
