@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <h5><i>“A leitura do mundo precede a leitura da palavra” (Paulo Freire)</i></h5>
</div>
<div class="text-center  d-flex justify-content-center">
<img src="https://media.istockphoto.com/vectors/girl-reading-textbook-vector-id1215303126?k=20&m=1215303126&s=612x612&w=0&h=uqEFscLdWFbkA8O5tWM066RuPuvCb952kKB32A0HIZY="
     class="img-fluid" alt="Sample image">
     </div>
<hr />
